/* @font-face {
  font-family: 'Doobie';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5e06470fbe0f82450a6d4ec7_Doobie.woff2')
      format('woff2'),
    url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5e06470fed2a2778e2674522_Doobie.eot')
      format('embedded-opentype'),
    url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5e06470fad6bade05ca8c258_Doobie.woff')
      format('woff'),
    url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5e06470f478a40280d002e05_Doobie.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Doob';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5dc1f0c29897ae8e35c92206_Doobie.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Cheee bingbong';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763f585397b4c88ea44_Cheee-Bingbong.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee boogy';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763b2be4767601f5555_Cheee-Boogy.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee chaarleee';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763958e8cfa210703cb_Cheee-Chaarleee.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee baby';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763609698a0a705920b_Cheee-Baby.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee choy';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763e509f33b34d18c57_Cheee-Choy.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee conshred';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177633677d6c37a4013df_Cheee-Conshred.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee crimer';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177630af890f4d00fd997_Cheee-Crimer.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee gnat';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177636594014d2706c6bd_Cheee-Gnat.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee jabroni';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177634bcd57725fdf0ba8_Cheee-Jabroni.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee jimbo';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763e4b222b7cb7386ca_Cheee-Jimbo.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee juanito';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177630f3f812dbaf6119d_Cheee-Juanito.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee kingstreet';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763e38b238d59336ceb_Cheee-Kingstreet.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee oldskool';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763c755c6790512b515_Cheee-Oldskool.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee oyen';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17763efab26a251cc66e4_Cheee-Oyen.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee pickles';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177649af2653c6ae864c0_Cheee-Pickles.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee schemer';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177644a77e556c4fc53df_Cheee-Schemer.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee peeenutt';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177632d07ef306dc191c4_Cheee-Peeenutt.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee shishi';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17764c755c67f7212b516_Cheee-Shishi.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee smortious';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17764c145aca006cf80d9_Cheee-Smortious.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee small';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17764234e0590da087982_Cheee-Small.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee sticky';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17764666dc07d561dbea7_Cheee-Sticky.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee stinkhead';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177649b588b9b3dee25bc_Cheee-Stinkhead.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee tbone';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17764609698668d05920c_Cheee-Tbone.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee tomboe';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc17764666dc02b811dbea8_Cheee-Tomboe.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cheee wowie';
  src: url('https://assets.website-files.com/5c73606d331282a7a53d3df3/5fc177642a3ba67dac1a9241_Cheee-Wowie.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
